{% extends "base.html" %}

{% block content %}
<div class="bg-info">
    <div class="row">

        <div class="col-lg-4 col-md-6">
            <div class="thumbnail">
                <img src="../static/images/WiktoriaTyper.jpg" class="img-circle" style="height: 250px">
            </div>
            <div class="person-box">
                <h5 class="font-weight-bold mt-4 mb-3">Wiktoria Typer</h5>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="thumbnail">
                <img src="../static/images/WeronikaBryjak.jpg" class="img-circle" style="height: 250px">
            </div>
            <div class="person-box">
                <h5 class="font-weight-bold mt-4 mb-3">Weroika Bryjak</h5>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="thumbnail">
                <img src="../static/images/AleksandraZelasko.jpg" class="img-circle" style="height: 250px">
            </div>
            <div class="person-box">
                <h5 class="font-weight-bold mt-4 mb-3">Aleksandra Żelasko</h5>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4 col-md-6">
            <div class="thumbnail">
                <img src="../static/images/TomaszKopacz.jpg" class="img-circle" style="height: 250px">
            </div>
            <div class="person-box">
                <h5 class="font-weight-bold mt-4 mb-3">Tomasz Kopacz</h5>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="thumbnail">
                <img src="../static/images/SylwiaBien.jpg" class="img-circle" style="height: 250px">
            </div>
            <div class="person-box">
                <h5 class="font-weight-bold mt-4 mb-3">Sylwia Bień</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}